body {
  font-family: Arial;
  background-color: #fff;
  color: #400040;
  text-align: center;
  margin: 0;
  padding: 20px;
}

img {
  width: 250px;
  border: 3px solid #b00020;
  border-radius: 10px;
}

button {
  background-color: #b00020;
  color: white;
  border: none;
  padding: 15px 25px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #800015;
}

#resultado {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
