body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #400040;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px;
}

h1 {
  color: #b00020;
}

.explicacao {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.card {
  background-color: #f8e6ff;
  border: 2px solid #b00020;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

button {
  margin-top: 50px;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: #b00020;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #800015;
}
